@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: rgba(209, 213, 219, 1);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background: rgba(178, 178, 178, 0.7);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(178, 178, 178, 0.8);
}
